<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Public/CSS/Erro.css" />
    <title>404 Not Found Page</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="#"></a> 
      </div>
    </nav>

    <!-- Contêiner que engloba o conteúdo da página -->
    <div class="container">
      <!-- Cabeçalho da página de erro -->
      <div class="header">
        <h1>404</h1> <!-- Título principal indicando o erro -->
        <h3>Page Not Found!</h3> <!-- Mensagem indicando que a página não foi encontrada -->
      </div>

      <!-- Imagem ilustrativa para a página de erro -->
      <img src="assets/family.png" alt="not found" />
      
      <!-- Rodapé com uma explicação e botão para redirecionar -->
      <div class="footer">
        <p>
          Lamentamos, mas a página que você solicitou não foi encontrada. Por favor volte
          para a página inicial!
        </p>
        <!-- Botão para redirecionar o usuário para a página inicial -->
        <button>HOME</button> 
      </div>
    </div>
  </body>
</html>
