
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* define o estilo da fonte */
}
body{
    
    background-color: #ffffff; /*cor de fundo*/
}
.inicio { /*somente nesta parte o gradiente para que não ocupe o corpo inteiro*/
    position: relative; /* posição relativa (altera sua posição com base na posição inicial) */
    width: 100%; /* define a largura  */
    display: flex;
    min-height: 100vh; /* define altura mínima de um elemento */
    padding: 100px; /* aqui cria um espaço ao redor do conteúdo */
    justify-content: space-between; /* espaçamento uniforme dos elementos */
    align-items: center; /* alinhamento de itens */
    background: linear-gradient(180deg, rgba(37,55,69,1) 10%, rgba(74,92,106,1) 60%, rgba(155,168,171,1) 100%); /* cor de fundo com gradiente linear */
}
header{
    position: absolute; /*posição absoluta*/
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* espaçamento uniforme dos elementos */
    align-items: center; /* alinhamento de itens */
    background-color: #253745; /*cor de fundo*/
    text-align: right; /*texto alinhado a direita*/
    justify-content: right;
}

header ul li{
    list-style: none; /* aqui tira o sublinhado do texto */
}
header ul li a{ 
    display: inline-block;
    font-size: 20px; /* aqui altera o tamanho da fonte */
    color: #fefefe;
    font-weight: 1000;
    margin-left: 40px;
    text-decoration: none;

}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 450px; /*tamanho máximo*/
    align-items: center;
}
.textBox h2{
    color: #ffffff; /*aqui altera a cor do título h2*/
    font-size: 50px;
    line-height: 1.2em; /*define espaçamento entre as linhas*/
    font-weight: bold; /*deixa a fonte em negrito*/
}
.textBox p{
    color: #ffffff; /*aqui altera a cor do texto do paragrafo*/
    font-size: 20px;
    font-weight: bold; 
    line-height: 1.2em; 
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #253745; /*aqui altera a cor do botão acessar*/
    color: #fff; /*aqui altera a cor de texto do botão acessar*/
    border-radius: 40px; /*arredondamento da borda*/
    font-weight: 500;
    letter-spacing: 1px; /*espaçamento entre letras*/
    text-decoration: none;
    font-weight: bold; /*estilo da fonte em negrito*/
}

.ul{ /* lista desordenada */
    display: flex;
    margin: 0 25px;
    font-size: 10px;
    position: relative;
}

.rodape { /* rodapé */
position: absolute;
color: white; /*cor do conteúdo interno, como o texto*/
background-color: #124872; /* cor de fundo do rodapé*/
width: 100%; /*largura de 100%*/
text-align: center; /*alinhamento de texto*/
}
.imgBox img{
    max-width: 950px;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(20px 4px 17px rgb(146, 146, 146)); /*aqui define o sombreamento da imagem*/
}
/* aqui define o circulo ao fundo da imagem */
.circulo{
    position: absolute;
    top: 120;
    right: 140;
    background: #ffffff;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    filter: blur(4px);
    float: right;
}
.depoiments{
    text-align: center;
}

.mapas{
text-align: center;
position: center;
}
/* aqui altera as imagens das "categorias", tamanho e borda */
.imagem img{
    max-width: 250px;
    border-radius: 150px;
    background-color: #CCD0CF;
    align-items: left;
    object-position: 100% 0;
    width: 200px;

}
/* aqui altera as imagens da "nossa família", tamanho e borda" */
.icones img{
        float: left;
        /* border: transparent thin solid; */
        padding: 10px;
        margin: 0 10px 10px 0;
        max-width: 120px;
        border-radius: 20%;
    }

.card{
    display: flex;
    justify-content: center;
}
.depoimento-user{
    margin-bottom: 20px;
    text-align: center;
}
/* aqui é para editar os icones do header */
.ul i{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 3px;
    margin: 3px;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fefefe;
    justify-content: space-between;
/* display: flex; */
    align-items: flex-end;
    margin: 5px;
}

.familia{
    display: flex;
    padding: 50px;
}

.depoiments p {
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}

.depoiments .card-item{
    background-color: #9BA8AB;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    color: rgb(0, 0, 0);
}

.depoiments .card-item img{
    border-radius: 100%;
    display: block;
    margin: 10px auto;
}
.depoiments .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.depoiments .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.5s;
}
.depoiments .card-item:hover{
    background-color: #253745;
    margin-top: -5px;
    color: white;
}

.categorias h3{
    text-align: center;
}

.servicos .row.card-item{
    display: flex;
}

.categorias {
    display: flex;
    padding: 50px;
}

h1 {
    align-items: center;
}

.titulos {
    text-align: center;
    /* line-height: 4.0em;  */
    margin: 20px;
}

.usuarios img{
max-width: 100px;
border-radius: 20%;
}
