@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin-top: -140px;
}
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    background-color: 
    #cbedd4;
    margin-right: 20px;
}
#paises {
    width: 215px;
    padding: 10px;
    border-color: #fff;
  }


.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #9BA8AB;
    width: 45%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;

  
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}


.title-primary-1 {
    color: #fff;
margin-top: 100px;
margin-left: 10px;
}

.title-second {
    color: #9BA8AB;
    margin-top: 35PX;
}


/* ---------------------------PARTE ESQUERDA DA TELA -------------------------- */

.title-second-1 {
    color: #9BA8AB;
    margin-top: 65px;
    margin-left: 210px;
    
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #56A2E1;
}
.btn-second {
    background-color: #9BA8AB;
    border: 1px solid #9BA8AB;
    transition: background-color .5s;
    margin-top: 65px;
    margin-left: 200px;
}

.btn-second1 {
    background-color: #9BA8AB;
    border: 1px solid #9BA8AB;
    transition: background-color .5s;
    margin-top: 15px;
    margin-left: 20px;
}
.btn-second:hover {
    background-color: #ffffff;
    border: 1px solid #9BA8AB;
    color: #9BA8AB;
}
.first-content {
    display: flex;
    height: 67vh;
    margin-top: 150px;

   
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 20;

}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #9BA8AB;
    color: #fff;
    border-color: #9BA8AB;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

/* --------------- formulario da esquerda ------------------*/
.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 250px;
    margin-top: -0PX;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

/* --------------- formulario da direita ------------------*/
.form-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 300px;
    margin-top: -415PX;
}

.form-1 input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
   
   
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}


.form-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 150px;
    margin-top: 65px;
    
}

.form-2 input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}



/* second content*/

.second-content {
    position: absolute;
    display: flex;
    
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes slideLeft {
    from {
      left: 0;
      opacity: 1;
    }
    25% {
      left: -60px;
      opacity: 0.5;
    }
    50% {
      left: -80px;
      opacity: 0.2;
    }
    to {
      left: -100px;
      opacity: 0;
    }
  }
  
  @keyframes slideRight {
    from {
      left: 0;
    }
    25% {
      left: 70px;
    }
    50% {
      left: 90px;
    }
    to {
      left: 100px;
    }
  }
  
  @keyframes fadeIn {
    from {
      left: 0;
      width: 40%;
    }
    25% {
      left: 5%;
      width: 50%;
    }
    50% {
      left: 25%;
      width: 60%;
    }
    75% {
      left: 45%;
      width: 50%;
    }
    to {
      left: 60%;
      width: 40%;
    }
  }
  
  @keyframes fadeOut {
    from {
      left: 60%;
      width: 40%;
    }
    25% {
      left: 45%;
      width: 50%;
    }
    50% {
      left: 25%;
      width: 60%;
    }
    75% {
      left: 5%;
      width: 50%;
    }
    to {
      left: 0;
      width: 40%;
    }
  }

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}


.img-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para garantir que a imagem fique atrás de outros elementos */
    
}

.img-fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}   

.btn-primaryy{
margin-top: -80px;
margin-left: 1000px;
}

.valido{
    color: rgb(110, 231, 18);
    margin-top: -380px;
    margin-left: 280px;

}


footer {
position: fixed;
    margin-top: -10px;
    display: block;
    background: #4A5C6A;
    color: #fff;
    text-align: center;
    font-size: 14px;
    width: 100%;
    bottom: 0; /* Garante que o footer esteja no fundo da página */
    left: 0; /* Garante que o footer esteja alinhado à esquerda */
    padding: 12px 0;
    font-family: "Armata", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1000; /* Garante que o footer fique sobre outros elementos */
}

.fa-solid{
    color: #858484;
}

.fa-regular{
    color: #858484;
}