@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Estilos básicos para a página */
body {
  width: 100%; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  min-height: 100vh; /* Garante que a altura mínima da página seja a altura da janela */
  font-family: "Poppins", sans-serif; 
}

/* Remove os estilos padrão das listas não ordenadas  */
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
  display: flex; 
  align-items: center;
}

/* Remove sublinhado dos links */
a {
  text-decoration: none; /* Remove a decoração de sublinhado */
}

/* Estilos para o cabeçalho da página */
.cabecalho__container header {
  width: 100%; 
  background: url("../img/ma.png") no-repeat 50% 20% / cover; /* Aplica uma imagem de fundo */
  min-height: calc(100px + 15vw); 
}

/* Estilos para o rodapé */
footer {
  display: block; /* Exibe o rodapé como um bloco */
  background: #4A5C6A; /* Define a cor de fundo */
  color: #fff; /* Define a cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  font-size: 14px; /* Tamanho da fonte */
  width: 100%; /* O rodapé ocupa 100% da largura */
  bottom: 0; /* Fixa o rodapé na parte inferior da página */
  left: 0; /* Alinha o rodapé à esquerda */
  padding: 8px 0; /* Adiciona padding vertical */
  font-family: "Armata", sans-serif; /* Fonte usada no rodapé */
  font-weight: 400; /* Define a espessura da fonte */
  font-style: normal; /* Define o estilo da fonte */
  z-index: 1000; /* Garante que o rodapé fique acima de outros elementos */
}

/* Estilos para a coluna esquerda */
.cabecalho__container .colunas__container .coluna__esquerda {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px; 
  position: relative; 
  margin: 0 auto; 
}

/* Estilos para o container da imagem de perfil */
.cabecalho__container .colunas__container .coluna__esquerda .img__container {
  position: absolute;
  top: -60px; 
  left: 50%;
  transform: translatex(-50%); 
}

/* Estilos para a imagem de perfil */
.cabecalho__container .colunas__container .coluna__esquerda .img__container img {
  width: 120px; 
  height: 120px; 
  object-fit: cover; 
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18); 
}


.cabecalho__container .colunas__container .coluna__esquerda .img__container span {
  position: absolute; 
  background: #2afa6a; 
  width: 16px;
  height: 16px; 
  border-radius: 50%; 
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff; 
}

/* Estilos para o nome do usuário */
.cabecalho__container .colunas__container .coluna__esquerda h2 {
  margin-top: 60px; 
  font-weight: 600; 
  font-size: 22px; 
  margin-bottom: 5px; 
}

/* Estilos para a biografia do usuário */
.cabecalho__container .colunas__container .coluna__esquerda p {
  font-size: 0.9rem;
  color: #818181; 
  margin: 0; 
}

/* Estilos para a seção "sobre" */
.cabecalho__container .colunas__container .coluna__esquerda .sobre {
  justify-content: space-between; 
  position: relative; 
  margin: 35px 0;
}

/* Estilos para os itens da lista de "sobre" */
.cabecalho__container .colunas__container .coluna__esquerda .sobre li {
  display: flex;
  flex-direction: column; 
  color: #818181; 
  font-size: 0.9rem; 
}

/* Estilos para o número de seguidores, seguindo, etc. */
.cabecalho__container .colunas__container .coluna__esquerda .sobre li span {
  color: #1d1d1d; 
  font-weight: 600; 
}

/* Linha divisória abaixo da seção "sobre" */
.cabecalho__container .colunas__container .coluna__esquerda .sobre:after {
  position: absolute; 
  content: ""; 
  bottom: -16px; 
  display: block; 
  background: #cccccc; 
  height: 1px; 
  width: 100%; 
}

/* Estilos para o texto de biografia do usuário */
.cabecalho__container .colunas__container .conteudo p {
  font-size: 1rem; 
  color: #1d1d1d; 
  line-height: 1.8em; 
}

/* Estilos para a lista de ícones de contato/links */
.cabecalho__container .colunas__container .conteudo ul {
  gap: 30px; 
  justify-content: center; 
  align-items: center; 
  margin-top: 25px;
}

/* Estilos para os itens da lista de ícones */
.cabecalho__container .colunas__container .conteudo ul li {
  display: flex; 
}

/* Estilos para os ícones de contato/links */
.cabecalho__container .colunas__container .conteudo ul i {
  font-size: 1.3rem; 
}

/* Estilos para a navegação no perfil */
.cabecalho__container .colunas__container .coluna__direita nav {
  display: flex; 
  align-items: center; 
  padding: 30px 0; 
  justify-content: space-between; 
  flex-direction: column; 
}

/* Estilos para a lista de navegação no perfil */
.cabecalho__container .colunas__container .coluna__direita nav ul {
  display: flex; 
  gap: 20px; 
  flex-direction: column; 
}

/* Estilos para os links de navegação no perfil */
.cabecalho__container .colunas__container .coluna__direita nav ul li a {
  text-transform: uppercase; 
  color: #818181; 
}

/* Estilos para o link ativo na navegação */
.cabecalho__container .colunas__container .coluna__direita nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}

/* Estilos para o botão de navegação */
.cabecalho__container .colunas__container .coluna__direita nav button {
  background: #0091ff; 
  color: #fff; 
  border: none; 
  padding: 10px 25px; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-top: 20px; 
}

/* Efeito de hover para o botão */
.cabecalho__container .colunas__container .coluna__direita nav button:hover {
  opacity: 0.8; 
}

/* Estilos para a galeria de fotos dos pets */
.cabecalho__container .colunas__container .coluna__direita .fotos {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
  gap: 20px; 
}

/* Estilos para as imagens dos pets */
.cabecalho__container .colunas__container .coluna__direita .fotos img {
  max-width: 100%; 
  display: block; 
  height: 100%; 
  object-fit: cover; 
}

/* Responsividade */

/* Estilos aplicados em telas maiores que 868px */
@media (min-width: 868px) {
  .cabecalho__container .colunas__container {
    max-width: 1200px; 
    margin: 0 auto; 
    width: 90%; 
    justify-content: space-between; 
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    gap: 50px; 
  }
  .cabecalho__container .colunas__container .coluna__esquerda {
    padding: 25px 0px; 
  }
  .cabecalho__container .colunas__container .coluna__direita nav ul {
    flex-direction: row; 
    gap: 30px; 
  }
  .cabecalho__container .colunas__container .coluna__direita .fotos {
    height: 365px; 
    overflow: auto;
    padding: 0 0 30px;
  }
}

/* Estilos aplicados em telas maiores que 1017px */
@media (min-width: 1017px) {
  .cabecalho__container .colunas__container .coluna__esquerda {
    margin: 0; 
    margin-right: auto; 
  }
  .cabecalho__container .colunas__container .coluna__direita nav {
    flex-direction: row; 
  }
  .cabecalho__container .colunas__container .coluna__direita nav button {
    margin-top: 0; 
  }
}
